In [618]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn
import pickle
import warnings
warnings.filterwarnings("ignore")

In [619]:
df=pd.read_csv('iris.csv')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [620]:
df.drop('species',axis=1,inplace=True)

In [621]:
Q1= df['sepal_length'].quantile(0.25)
Q3=df['sepal_length'].quantile(0.75)
IQR=Q3-Q1
IQR

np.float64(1.3000000000000007)

In [622]:
lower =Q1-1.5*IQR
upper =Q3+1.5*IQR

In [623]:
df.drop(df[df["sepal_length"]>upper].index ,inplace=True)
df.drop(df[df["sepal_length"]<lower].index, inplace=True)

In [624]:
df

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [625]:
from sklearn.preprocessing import StandardScaler
st=StandardScaler()
st_df=st.fit_transform(df)

In [626]:
df

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [631]:
from sklearn.cluster import DBSCAN
kMeans=DBSCAN(n_clusters=5)
kMeans.fit(st_df)

TypeError: DBSCAN.__init__() got an unexpected keyword argument 'n_clusters'

In [628]:
kMeans.labels_

array([1, 3, 3, 3, 1, 1, 3, 1, 3, 3, 1, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 3, 3, 3, 1, 1, 1, 3, 3, 1, 1, 1, 3, 3, 1, 3, 3, 1, 1, 3, 3, 1,
       1, 3, 1, 3, 1, 3, 4, 0, 0, 2, 0, 2, 0, 2, 0, 2, 2, 0, 2, 0, 2, 0,
       0, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 0, 0, 0, 0, 2,
       0, 2, 2, 0, 2, 2, 2, 0, 0, 0, 2, 2, 4, 0, 4, 0, 4, 4, 2, 4, 0, 4,
       4, 0, 4, 2, 0, 4, 0, 4, 4, 2, 4, 0, 4, 0, 4, 4, 0, 0, 0, 4, 4, 4,
       0, 0, 0, 4, 4, 0, 0, 4, 4, 4, 0, 4, 4, 4, 0, 0, 4, 0], dtype=int32)

In [629]:
array=np.array([[5.1,	3.5,	1.4,	0.2	]])
pred= kMeans.predict(array)
pred

array([4], dtype=int32)

In [630]:
from sklearn.metrics import silhouette_score
silhouette_score(st_df,kMeans.labels_)*100

34.5972967262151